<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OSLTT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OSLTT.Properties.Settings>
      <setting name="updateInProgress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="buttonTriggerToggle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="audioTriggerToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pinTriggerToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lightSensorToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="audioSensorToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoClickToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="clickCountSelect" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="timeBetweenSelect" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="preTestToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="directXToggle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="gameExternalToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="audioSourceToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hotkey" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="yMax" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="chartTextColour" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="autoSaveScreenshots" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="defaultGraphView" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastBoardType" serializeAs="String">
        <value>0</value>
      </setting>
    </OSLTT.Properties.Settings>
  </userSettings>
</configuration>